<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Cafe Me</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
      body,html{
     height:100%;
      }
      .wrapper {
    text-align: left;
      }

      .button {
          position: absolute;
          top: 50%;
      }

  </style>

  <link rel="manifest" href="/public/manifest.JSON">
  <title>CafeMe</title>

</head>
<body>