<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/public/manifest.JSON">
    <title>Page Error!</title>
</head>
<body>
    <h1>server encountering several errors</h1>
</body>
</html>