<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/public/manifest.JSON">
  <title>LOGIN</title>
</head>
<body>
  
  <form action="" method="POST">
    <label for="">name</label>
    <input type="text" name="username">
    <label for="">pass</label>
    <input type="text" name="password">
    <input type="submit" value="LOGIN">
  </form>

  

</body>
</html>