<%- include('../../partials/head') %>

<h3>Payment Success</h3>

<div class="wrapper">
        <a style="text-align: right" class="btn btn-primary" href="/menu" role="button">Menu</a>
    </div>
    
    <div class="wrapper">
        <a style="text-align: right" class="btn btn-primary" href="/order" role="button">Order</a>
    </div>
<%- include('../../partials/footer') %>