<%- include('../../partials/head') %>

<h2>Welcome to Cafe Me</h2>



<div class="wrapper">
    <a style="text-align: right" class="btn btn-primary" href="/menu" role="button">Menu</a>
</div>

<div class="wrapper">
    <a style="text-align: right" class="btn btn-primary" href="/order" role="button">Order</a>
</div>

<div class="wrapper">
        <a style="text-align: right" class="btn btn-primary" href="/logout" role="button">Logout</a>
    </div>


<%- include('../../partials/footer') %>